# Blind Detection
For this project I will be using image recognition in an attempt catogrize its level of diabetic retinopathy.

#### Notes
Niek ruben max AI studenten startup.
Sywen autonome drone.

## Project planning

- Investigate dataset
- Train MLA
-

## On the data set 

The dataset provides a large set of retina images taken using fundus photography under a variety of imaging conditions.
A clinician has rated each image for the severity of diabetic retinopathy on a scale of 0 to 4:

0.  No DR
1.  Mild
2.  Moderate
3.  Severe
4.  Proliferative DR

This data set will contain noise in both the images and labels. Images may contain artifacts, be out of focus, underexposed, or overexposed. The images were gathered from multiple clinics using a variety of cameras over an extended period of time, which will introduce further variation.

In [2]:
import pandas as pd
import numpy as np

In [3]:
labels = pd.read_csv("trainLabels.csv")

In [4]:
labels.head(10)

      image  level
0   10_left      0
1  10_right      0
2   13_left      0
3  13_right      0
4   15_left      1
5  15_right      2
6   16_left      4
7  16_right      4
8   17_left      0
9  17_right      1